{sub_dirs, [
            "apps/",
            "rel"
            ]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [{base58, ".*", {git, "https://github.com/mbrix/erl-base58"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}},
        {erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git"}},
        {pbkdf2, ".*", {git, "https://github.com/basho/erlang-pbkdf2.git"}},
        {libsecp256k1, ".*", {git, "https://github.com/mbrix/libsecp256k1.git"}}
%%        {hackney, ".*", {git, "https://github.com/benoitc/hackney.git"}}
        ]}.
