{sub_dirs, [
            "apps/",
            "rel"
            ]}.

{deps_dir, ["deps"]}.
{erl_opts, [native, {hipe, [o3]}, debug_info, fail_on_warning]}.
{eunit_compile_opts, [native, {hipe, [verbose]}, debug_info]}.

{deps, [{base58, ".*", {git, "https://github.com/mbrix/erl-base58"}},
        {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}},
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}},
        {erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git"}},
        {pbkdf2, ".*", {git, "https://github.com/basho/erlang-pbkdf2.git"}},
        {libsecp256k1, ".*", {git, "https://github.com/mbrix/libsecp256k1.git"}},
        {libconsensus, ".*", {git, "https://github.com/mbrix/libconsensus.git"}},
        {bitter_bloom, ".*", {git, "https://github.com/mbrix/bitter_bloom.git"}}
        ]}.
